.row
  .col-md-4.col-md-offset-4.text-center
    %h1 TIC - TAC - TOE
    %p.lead send the below link to your opponent 
    = text_field_tag "token2", play_game_url(@game.token2), class: 'form-control'
    %br
    = link_to "Play", play_game_path(@game.token1), class: 'btn btn-default'
